.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}
