@font-face {
  font-family: "ContrailOne";
  src: url("./../fonts/ContrailOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chivo";
  src: url("./../fonts/Chivo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Chivo";
  src: url("./../fonts/Chivo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Chivo";
  src: url("./../fonts/Chivo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Chivo";
  src: url("./../fonts/Chivo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Chivo";
  font-size: 16px;
}

body {
  background: #292929;
  color: #fafafa;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #71c3f2;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

a:hover {
  color: #2ba6eb;
}

img {
  width: 100%;
}

.logo-link {
  font-family: "ContrailOne";
  color: #ffffff;
  text-transform: uppercase;
}

.logo-link span {
  color: #2ba6eb;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.row.content-center {
  justify-content: center;
}

.row [class^="col"] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 100%;
}

.row [class^="col"].gutter-10 {
  padding-left: 10px;
  padding-right: 10px;
}

/* Header */
header {
  background: linear-gradient(90.22deg, #3e3f40 0%, #434343 42.8%, #414141 99.41%);
  padding: 1.4rem 0;
  /* Hambergar Icon */
  /* Navigation */
}

header .hamberger {
  position: relative;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  background: radial-gradient(100.69% 815.51% at 100% 2.37%, #0e9bea 0%, #5cbdf3 41.57%, #27a3e9 100%);
}

header .hamberger > div {
  position: absolute;
  height: 3px;
  width: 20px;
  background: #fafafa;
  display: block;
  left: 0.625rem;
  transform: rotate(0) scale(1);
  -webkit-transform: rotate(0) scale(1);
  -moz-transform: rotate(0) scale(1);
  -ms-transform: rotate(0) scale(1);
  -o-transform: rotate(0) scale(1);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

header .hamberger > div:nth-child(1) {
  transform-origin: center;
  top: 0.8rem;
}

header .hamberger > div:nth-child(2) {
  transform-origin: center;
  top: 1.15rem;
}

header .hamberger > div:nth-child(3) {
  transform-origin: center;
  top: 1.55rem;
}

header .hamberger.open > div:nth-child(1) {
  top: 1.15rem;
  transform-origin: center;
  transform: rotate(-45deg) scale(1);
  -webkit-transform: rotate(-45deg) scale(1);
  -moz-transform: rotate(-45deg) scale(1);
  -ms-transform: rotate(-45deg) scale(1);
  -o-transform: rotate(-45deg) scale(1);
}

header .hamberger.open > div:nth-child(2) {
  top: 1.15rem;
  transform-origin: center;
  transform: rotate(0deg) scale(0);
  -webkit-transform: rotate(0deg) scale(0);
  -moz-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  -o-transform: rotate(0deg) scale(0);
}

header .hamberger.open > div:nth-child(3) {
  top: 1.15rem;
  transform-origin: center;
  transform: rotate(45deg) scale(1);
  -webkit-transform: rotate(45deg) scale(1);
  -moz-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  -o-transform: rotate(45deg) scale(1);
}

header .main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .main-nav .logo-link {
  font-size: 2.25rem;
}

header .main-nav .logo-link span {
  position: relative;
  top: -0.2rem;
}

header .main-nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

header .main-nav .nav-menu .nav-link a {
  font-size: 1.25rem;
  padding: 0.5rem 1.8rem;
  color: #fafafa;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

header .main-nav .nav-menu .nav-link a:before {
  content: "";
  position: absolute;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  background: radial-gradient(156.52% 67.65% at 49.72% 32.35%, #5abff8 0%, #328fe6 100%);
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
}

header .main-nav .nav-menu .nav-link a:hover:before {
  opacity: 1;
}

header .main-nav .nav-menu .nav-link.active a:before {
  opacity: 1;
}

header .main-nav .nav-menu .nav-link:not(:first-child) {
  margin-left: 11px;
}

/* Sections Common Styles */
section {
  padding: 6rem 0;
}

section:nth-child(even) {
  background: linear-gradient(90.22deg, #3e3f40 0%, #434343 42.8%, #414141 99.41%);
}

section:nth-child(odd) {
  background: linear-gradient(128.55deg, #141414 0.31%, rgba(35, 35, 35, 0.82) 51.19%, #060606 100%);
}

section .section-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4.5rem;
}

section .section-title__text {
  margin-bottom: 5px;
  font-size: 3.1rem;
}

section .section-title__sub-text {
  font-size: 1.5rem;
}

/* Hero Section Start */
.hero-section {
  background: radial-gradient(100.69% 815.51% at 100% 2.37%, #0e9bea 0%, #5cbdf3 41.57%, #27a3e9 100%) !important;
}

.hero-section .hero-card {
  background: radial-gradient(156.52% 67.65% at 49.72% 32.35%, #5abff8 0%, #328fe6 100%);
  border-radius: 1.5rem;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.08);
  padding: 2rem 2rem;
}

.hero-section .hero-card__title {
  font-size: 3rem;
  margin-bottom: 0.3rem;
}

.hero-section .hero-card__sub-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-section .hero-card__button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border-radius: 100px;
  background: #2ba6eb;
  color: #fafafa;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 8px rgba(32, 32, 32, 0.13);
  font-size: 1.5rem;
}

.hero-section .hero-card__button:hover {
  background: #22a2ea;
  transform: translateY(-0.1rem);
  box-shadow: 6px 6px 8px rgba(32, 32, 32, 0.13);
}

.hero-section .hero-card__button:focus, .hero-section .hero-card__button:active {
  transform: translateY(0);
  box-shadow: 5px 5px 8px rgba(32, 32, 32, 0.13);
}

.hero-section img {
  display: block;
  width: 90%;
  margin: 0 auto;
}

/* Hero Section End */
/* Service Section Start */
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(128.55deg, #141414 0.31%, rgba(35, 35, 35, 0.82) 51.19%, #060606 100%);
  border-radius: 0.6rem;
  padding: 2rem 0;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.card__header__icon {
  height: 6rem;
  width: 6rem;
  background: #ffffff;
  border-radius: 50%;
  padding: 1.5rem;
}

.card__header__icon img {
  width: 100%;
}

.card__content {
  padding: 0 0.8rem;
  text-align: center;
}

.card__content__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.card__content__text {
  font-size: 1.1rem;
}

/* Service Section End */
/* Portfolio Section Start */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 15rem;
  grid-template-areas: "pos-1 pos-2 pos-3" "pos-1 pos-4 pos-5" "pos-1 pos-6 pos-6" "pos-7 pos-8 pos-9";
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  width: 100%;
}

.grid__item {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid__item.pos_1 {
  grid-area: pos-1;
}

.grid__item.pos_2 {
  grid-area: pos-2;
}

.grid__item.pos_3 {
  grid-area: pos-3;
}

.grid__item.pos_4 {
  grid-area: pos-4;
}

.grid__item.pos_5 {
  grid-area: pos-5;
}

.grid__item.pos_6 {
  grid-area: pos-6;
}

.grid__item.pos_7 {
  grid-area: pos-7;
}

.grid__item.pos_8 {
  grid-area: pos-8;
}

.grid__item.pos_9 {
  grid-area: pos-9;
}

/* Portfolio Section End */
/* Contact Section Start */
/* Form Style */
.form__input, .form__textarea {
  font-family: inherit;
  display: flex;
  background: #ededed;
  color: #292929;
  margin-bottom: 0.8rem;
  padding: 1rem 0.5rem;
  border: 0;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
}

.form__input:focus, .form__textarea:focus {
  background: #fafafa;
  outline: none;
  border: 0;
}

.form__primaryBtn {
  background: radial-gradient(156.52% 67.65% at 49.72% 32.35%, #5abff8 0%, #328fe6 100%);
  border: 0;
  margin-top: 0.8rem;
  font-size: 1.1rem;
  padding: 0.5rem 2.5rem;
  border-radius: 10rem;
  cursor: pointer;
  color: #fafafa;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.form__primaryBtn:hover {
  transform: translateY(-0.1rem);
  box-shadow: 6px 6px 8px rgba(32, 32, 32, 0.13);
}

.form__primaryBtn:focus, .form__primaryBtn:active {
  transform: translateY(0);
  box-shadow: 5px 5px 8px rgba(32, 32, 32, 0.13);
}

.google-map {
  height: 100%;
  width: 100%;
}

/* Contact Section End */
/* Footer Start */
footer {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 1rem;
}

footer .logo-link {
  color: #fff;
}

/* Footer End */
/* Big MObile Screen */
@media screen and (min-width: 575px) {
  .d-xs-none {
    display: none !important;
  }
  .d-xs-block {
    display: block !important;
  }
  .d-xs-flex {
    display: flex !important;
  }
  .container {
    max-width: 33.75rem;
  }
}

/* Tablet Screen */
@media screen and (min-width: 768px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .container {
    max-width: 45rem;
  }
}

/* Medium Screen Devicess */
@media screen and (min-width: 992px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .flex-md-column-reverse {
    flex-direction: column-reverse;
  }
  .mb-md-1 {
    margin-bottom: 1rem !important;
  }
  .mb-md-2 {
    margin-bottom: 2rem !important;
  }
  .mb-md-3 {
    margin-bottom: 3rem !important;
  }
  .container {
    max-width: 60rem;
  }
  .row .col-md-3 {
    flex: 0 0 33.33%;
    width: 33.33%;
  }
  .row .col-md-4 {
    flex: 0 0 25%;
    width: 25%;
  }
  .row .col-md-6 {
    flex: 0 0 50%;
    width: 50%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .flex-ms-column-reverse {
    flex-direction: column-reverse;
  }
  .row .col-ms-3 {
    flex: 0 0 33.33%;
    width: 33.33%;
  }
  .row .col-ms-4 {
    flex: 0 0 25%;
    width: 25%;
  }
  .row .col-ms-6 {
    flex: 0 0 50%;
    width: 50%;
  }
}

/* Small Screen Max */
@media screen and (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "pos-1 pos-2" "pos-3 pos-4" "pos-5 pos-5" "pos-6 pos-7" "pos-8 pos-9";
  }
  .flex-sm-column-reverse {
    flex-direction: column-reverse;
  }
  header .main-nav .nav-menu {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    background: linear-gradient(90.22deg, #3e3f40 0%, #434343 42.8%, #414141 99.41%);
    height: 100%;
    width: 50%;
    overflow: scroll;
    padding: 0 0 1rem;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }
  header .main-nav .nav-menu .nav-link {
    margin-left: 0 !important;
  }
  header .main-nav .nav-menu .nav-link a {
    display: block;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 1rem 2.5rem;
  }
  header .main-nav .nav-menu .nav-link a:before {
    display: none;
  }
  header .main-nav .nav-menu .nav-link a:hover, header .main-nav .nav-menu .nav-link a:focus {
    background: rgba(0, 0, 0, 0.3);
  }
  header .main-nav .nav-menu .nav-link:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  header .main-nav .nav-menu .nav-link.active a {
    background: rgba(0, 0, 0, 0.3);
  }
  header .main-nav .nav-menu.open {
    left: 0;
  }
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "pos-1" "pos-2" "pos-3" "pos-4" "pos-5" "pos-6" "pos-7" "pos-8" "pos-9";
  }
}

@media screen and (max-width: 991px) {
  .mb-sm-1 {
    margin-bottom: 1rem !important;
  }
  .mb-sm-2 {
    margin-bottom: 2rem !important;
  }
  .mb-sm-3 {
    margin-bottom: 3rem !important;
  }
  .google-map {
    height: 500px;
  }
}
